
/*font styling for the entire page*/
* {
	font-family: 'Balthazar', serif;
}

h3 {
	font-family: 'Balthazar', serif;

}


/*styling for top row nav bar elements*/
.nav_bar {
	padding: 30px;
	text-align: center;
	background-image: url(tablecloth.jpg);
}

.btn {
	background-color: black;
	color: white;
	font-size: 25px;
	border: black;
	margin: 5px;
	height: 50px;
}

.btn:hover {
	background-color: white;
}






/*styling for middle row with hours, logo, spiel, phone number, and map*/
.middle_row {
	font-family: 'Balthazar', serif;
	font-size: 20px;
	color: white;
	background-color: black;
}

#hours {
	margin: 3px;
	padding: 3px;
}

#mainlogo {
	margin: 10px;
}

#logo_img {
	width: 100%;
}

#spiel {
	text-align: center;
}

#reservations {
	margin: 3px;
	padding: 3px;
}

#map_link {
	color: #FFC8C8;
}



/*styling for bottom row social media icons*/
.bottom_row {
	padding: 15px;
	text-align: center;
	background-image: url(tablecloth.jpg);
}


#youtube {
	width: 100%;
	max-width: 200px
}

#facebook {
	height: 65px;
	max-width: 200px;
}

.icon {
	margin-top: 10px;
}






